<!-- Footer section -->
<footer class="footer-section set-bg" style="background: url('assets/img/footer-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 footer-widget">
        <img src="../../assets/img/logo.png" alt="">
        <p> Away is an application to find properties (Houses/Guest Homes/Appartements/Villas) </p>
        <div class="social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 footer-widget">
        <div class="contact-widget">
          <h5 class="fw-title">CONTACT US</h5>
          <p><i class="fa fa-map-marker"></i>INSAT  </p>
          <p><i class="fa fa-phone"></i>(+213) 74 860 807 </p>
          <p><i class="fa fa-envelope"></i>contact@gmail.com</p>
          <p><i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 footer-widget">
        <div class="double-menu-widget">
          <h5 class="fw-title">The Amazing Team behind</h5>
          <ul>
            <li><a href="">Mtibaa Amal</a></li>
            <li><a href="">Mhiri Yasmine</a></li>
            <li><a href="">Riahi Med Wassim</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  footer-widget">
        <div class="newslatter-widget">
          <h5 class="fw-title">NEWSLETTER</h5>
          <p>Subscribe your email to get the latest news and new offer also discount</p>
          <form class="footer-newslatter-form">
            <input type="text" placeholder="Email address">
            <button><i class="fa fa-send"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer section end -->
