<section class="page-top-section set-bg" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../../assets/img/welcome.jpg'); background-size: cover;">
  <div class="container text-white">
    <h2>My reservations</h2>
  </div>
</section>
<div class="container">
  <br>
<h3 class="text-info"> Here are your Request of reservations</h3> <br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">House</th>
    <th scope="col">Start date</th>
    <th scope="col">End date</th>
    <th scope="col">Status</th>
    <th scope="col">resend Request</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of reservations;let i=index">
    <td>{{i+1}}</td>
    <td>{{r.house.header_name}}</td>
    <td>{{r.date_debut |  date:longDate}}</td>
    <td>{{r.date_fin | date:longDate}}</td>
    <td>{{r.confirmation}}</td>
    <td>
      <button class="btn btn-info">Resend </button>
    </td>
  </tr>

  </tbody>
</table>
</div>
