<div class=" card item">
<img class="card-img-top i" src="../../assets/my_img/{{house.pathimage}}" alt="">
  <div class="card-body">
  <h5><a><b>{{house.header_name}}</b> </a></h5>
<div class="blog-meta">
  <span class="text-info"><i class="fa fa-user"></i> 3 Request to Reservation</span>
  <span class="text-info"><i class="fa fa-calendar"></i>Occupied</span>
</div>
  </div>
  <div class="card footer btn-group">
    <button class="btn btn-info" (click)="onUpdate()">Update Property</button>
    <button class="btn btn-success" (click)="onReservation()">Reservation's Requests</button>
  </div>
</div>
